.calendar-grid-week {
  display: flex;
  height: 120px;
}

.timezone {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.week {
  display: flex;
  flex: 1;
}

.week-cell {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

.week-cell span {
  font-size: 14px;
  color: #9e9e9e;
}

.week-cell h1 {
  color: #333;
  margin: 0;
}

.week-cell.active span {
  color: rgba(33, 150, 243, 0.65);
}

.week-cell.active h1 {
  color: rgba(33, 150, 243, 1);
}
